<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    
    <Package Name="STM32Programmer" 
             Manufacturer="STM32Programmer" 
             Version="1.0.0.0" 
             UpgradeCode="38F8B7B1-C5EA-4A7A-90BA-1E1F1E5F143B"
             Language="2052"
             Codepage="936"
             InstallerVersion="500"
             Compressed="yes"
             Scope="perMachine">
        
        <SummaryInformation Description="STM32固件烧写工具安装程序" 
                           Manufacturer="STM32Programmer"
                           Keywords="STM32,固件,烧写,烧录" />
        
        <MajorUpgrade DowngradeErrorMessage="已安装更新版本的 STM32Programmer，无法降级安装。" 
                      AllowSameVersionUpgrades="yes" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
        
        <!-- 中文UI界面 -->
        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
        <UIRef Id="WixUI_ErrorProgressText" />
        
        <!-- 中文本地化字符串 -->
        <WixVariable Id="WixUILicenseRtf" Value="installer\License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="installer\banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="installer\dialog.bmp" />
        
        <!-- 安装完成后启动程序选项 -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="安装完成后启动 STM32Programmer" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        
        <!-- 功能定义 -->
        <Feature Id="ProductFeature" Title="STM32Programmer 主程序" Description="STM32固件烧写工具主程序（必需）" Level="1" AllowAbsent="no">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="RuntimeComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
        
        <Feature Id="DesktopShortcutFeature" Title="桌面快捷方式" Description="在桌面创建程序快捷方式" Level="1">
            <ComponentRef Id="DesktopShortcut" />
        </Feature>
        
        <!-- 程序图标 -->
        <Icon Id="ProductIcon" SourceFile="$(var.SourceDir)\app.ico" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/stm32programmer" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/stm32programmer/releases" />
        <Property Id="ARPHELPLINK" Value="https://github.com/stm32programmer/issues" />
        <Property Id="ARPNOREPAIR" Value="yes" />
    </Package>
    
    <Fragment>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="STM32Programmer">
                <Directory Id="RuntimesFolder" Name="runtimes">
                    <Directory Id="WinFolder" Name="win">
                        <Directory Id="LibFolder" Name="lib">
                            <Directory Id="Net80Folder" Name="net8.0" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>
        
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="STM32Programmer" />
        </StandardDirectory>
        
        <StandardDirectory Id="DesktopFolder" />
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="*">
                <File Id="STM32ProgrammerEXE" Source="$(var.PublishDir)\STM32Programmer.exe" KeyPath="yes" />
            </Component>
            <Component Id="MainDll" Guid="*">
                <File Id="STM32ProgrammerDLL" Source="$(var.PublishDir)\STM32Programmer.dll" KeyPath="yes" />
            </Component>
            <Component Id="DepsJson" Guid="*">
                <File Id="DepsJson" Source="$(var.PublishDir)\STM32Programmer.deps.json" KeyPath="yes" />
            </Component>
            <Component Id="RuntimeConfig" Guid="*">
                <File Id="RuntimeConfig" Source="$(var.PublishDir)\STM32Programmer.runtimeconfig.json" KeyPath="yes" />
            </Component>
            <Component Id="MaterialDesignColors" Guid="*">
                <File Id="MaterialDesignColors" Source="$(var.PublishDir)\MaterialDesignColors.dll" KeyPath="yes" />
            </Component>
            <Component Id="MaterialDesignThemes" Guid="*">
                <File Id="MaterialDesignThemes" Source="$(var.PublishDir)\MaterialDesignThemes.Wpf.dll" KeyPath="yes" />
            </Component>
            <Component Id="XamlBehaviors" Guid="*">
                <File Id="XamlBehaviors" Source="$(var.PublishDir)\Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
            </Component>
            <Component Id="SystemIOPorts" Guid="*">
                <File Id="SystemIOPorts" Source="$(var.PublishDir)\System.IO.Ports.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
        
        <ComponentGroup Id="RuntimeComponents" Directory="Net80Folder">
            <Component Id="RuntimeIOPorts" Guid="*">
                <File Id="RuntimeIOPorts" Source="$(var.PublishDir)\runtimes\win\lib\net8.0\System.IO.Ports.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
        
        <Component Id="ApplicationShortcut" Guid="*" Directory="ApplicationProgramsFolder">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="STM32Programmer"
                      Description="STM32固件烧写工具"
                      Target="[INSTALLFOLDER]STM32Programmer.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="ProductIcon" />
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\STM32Programmer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
        
        <Component Id="DesktopShortcut" Guid="*" Directory="DesktopFolder">
            <Shortcut Id="DesktopShortcut"
                      Name="STM32Programmer"
                      Description="STM32固件烧写工具"
                      Target="[INSTALLFOLDER]STM32Programmer.exe"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="ProductIcon" />
            <RegistryValue Root="HKCU" Key="Software\STM32Programmer" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>
</Wix>
